.pull-right img {
  width: 25px;
  margin-left: 20px;
}

.jumbotron{
  background-image: url("../images/jumbotron-backg.jpg");
  width: 100%;
  background-repeat: no-repeat;
  background-size:cover;
  padding: 0;
}

.jumbotron .custom-filter {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 50px 0;
}

.jumbotron {
  color: white;
  text-shadow: 2px 2px rgb(52, 51, 51);
}
